#navbar{
    background-color: #FFFFFF;
}

#button {
    background-color: #6BA850;
    border: none;
    width: 80px;
    margin-left: 30px;
}

#button2 {
    background-color: #058ED9;
    border: none;
}

i {
    font-size: 20px;
}

#sidenavitem {
    background-color: #FFFFFF;
}
#sidenavitem:hover {
    background-color: lightgrey;
}

#postbutton {
    background-color: #6BA850;
}

#trashicon{
    padding-left: 6px;
}

#deletepost:hover {
    color: red;
}


